# Core packages
torch==2.2.1+cu118       # CUDA 11.8 compatible version
torchvision==0.17.1+cu118 # Matching torchvision version

# Install from PyTorch stable release for CUDA 11.8
-f https://download.pytorch.org/whl/torch_stable.html

# TimM for pretrained models
timm

# Common utilities
numpy==1.23.5
pandas
matplotlib
seaborn
scikit-learn
tqdm
Pillow
